div {
    font-family: 'Nuosu SIL', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
body {
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
}
.container {
    display: grid;
    grid-row: 2 / 3;
    grid-template-columns: repeat( auto-fit, 1fr );;
    grid-template-rows: 1fr;
    justify-content: center;
}
.card {
    background-color: #0891b2;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    grid-row: 1 / 2;
    width: 200px;
    width: minmax(100px, 600px);
    height: 250px;
    border-radius: 15px;
    border: solid;
    padding: 5px;
    margin: 5px;
}
.button {
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: #2563eb;
    font-family: 'Nuosu SIL', serif;
    font-family: 'Roboto', sans-serif;
    grid-row: 3 / 4;
    margin-top: 25px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    border-color: black;
    background-color: aliceblue;
    border: 5px solid;
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
    width: 400px;
    height: 300px;
    border-radius: 30px;
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
.deleteButton {
    width: 50px;
    height: 50px;
    align-self: flex-end;
    margin-top: auto;
}
.readButton {
  appearance: button;
  display: flex;
  align-self: center;
  background-color: #12C0B5;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  height: 50px;
  width: 50%;
}

.readButton:after {
  background-clip: padding-box;
  background-color: #00ACB9;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.readButton:main,
.readButton:focus {
  user-select: auto;
}

.readButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.readButton:disabled {
  cursor: auto;
}
